#jqShowcaseContainer {
	--active: #00cf56;
	--danger: #af1d1d;
	--text-primary: #000000;
	--text-secondary: #ffffff;
	--border-nav: #ffffff;
	--border-content: #ffffff;
	--border-primary: #a3a3a3;
	--border-secondary: #777777;
	--bg-overlay: rgba(0, 0, 0, 0.85);
	--bg-primary: #ffffff;
	--bg-primary-object: rgba(255, 255, 255, 0.5);
	--bg-button: #919191;
	--bg-progress: #6ec46e;
}
