#jqShowcaseContainer {
	--text-nav: #ffffff;
	--text-primary: #000000;
	--text-active: #00cc55;
	--text-danger: #c23434;
	--border-content: #ffffff;
	--border-primary: #727272;
	--border-secondary: #313131;
	--border-active: #00cf56;
	--border-danger: #bb0606;
	--bg-overlay: rgba(0, 0, 0, 0.85);
	--bg-primary: #ffffff;
	--bg-primary-object: rgba(255, 255, 255, 0.5);
	--bg-button: #777777;
	--bg-danger: #9b2929;
}
/* Symbols Reference */
#jqShowcaseContainer #jqShowcaseSymbols {
	display: none;
	background-image: url('../images/showcase.symbols.svg');
}

/* Animation Classes */
#jqShowcaseContainer.jqSCFaded {
	transition: opacity 0.4s ease-in;
}
#jqShowcaseContainer .jqSCFaded {
	transition: opacity 0.2s linear;
}
#jqShowcaseContainer .jqSCAnimated {
	transition:
		max-width 0.5s ease-in-out,
		max-height 0.5s ease-in-out;
}
#jqShowcaseContainer .jqSCAnimated #jqShowcaseContent {
	display: none;
}

/* Visibility Classes */
#jqShowcaseContainer.jqSCDisabled,
#jqShowcaseContainer .jqSCDisabled {
	display: none;
}
#jqShowcaseContainer.jqSCHidden,
#jqShowcaseContainer .jqSCHidden {
	visibility: hidden;
}
#jqShowcaseContainer.jqSCTransparent,
#jqShowcaseContainer .jqSCTransparent {
	opacity: 0;
}
#jqShowcaseContainer .jqSCSeeThrough {
	opacity: 0;
	transition: opacity 0.75s ease-in;
}

/* Background Classes */
#jqShowcaseContainer.jqSCLoading {
	background-image: url('../images/showcase.loader.svg');
	background-position: center;
	background-repeat: no-repeat;
}
#jqShowcaseContentWrapper.jqSCBackground {
	background: var(--bg-primary);
}
#jqShowcaseContentWrapper.jqSCBackgroundObject {
	background: var(--bg-primary-object);
}

/* Other Classes */
#jqShowcaseContentWrapper.jqSCBorder {
	box-shadow: 0 0 0 0.1rem var(--border-content);
}
#jqShowcaseInfo.jqSCBorder {
	box-shadow: 0 0.1rem 0 0.1rem var(--border-content);
}
#jqShowcaseContent.jqSCBaseSize {
	min-width: 12rem;
	min-height: 2.5rem;
}
#jqShowcaseContent .jqSCContent {
	position: relative;
	display: block !important;
	visibility: visible !important;
	margin: 0 auto;
	font-size: 1rem;
	word-wrap: break-word;
}
#jqShowcaseContent .jqSCPadded {
	box-sizing: border-box;
	padding: 1rem;
}
#jqShowcaseContent.jqSCContain {
	width: 100%;
	height: 100%;
}
#jqShowcaseContent .jqSCContain {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}
#jqShowcaseContent .jqSCMessage {
	text-align: center;
}

/* Showcase Icons */
.jqShowcaseIcon {
	display: inline-block;
	stroke-width: 0;
	stroke: var(--text-nav);
	fill: var(--text-nav);
}

/* Main Container */
#jqShowcaseContainer {
	z-index: 100;
	position: fixed;
	display: flex;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background: var(--bg-overlay);
	opacity: 1;
}

/* Main Content Area */
#jqShowcaseWrapper {
	position: relative;
	display: flex;
	flex: 0 1 100%;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 0;
	min-width: 0;
	max-width: 0;
	height: 92%;
}
#jqShowcaseClose {
	z-index: 102;
	position: relative;
	flex: 0 0 0;
	-moz-user-select: none;
	user-select: none;
	font-size: 1.6rem;
}
#jqShowcaseClose > div {
	position: absolute;
	align-self: flex-start;
	top: -0.4rem;
	right: -1.6rem;
	cursor: pointer;
}
#jqShowcaseClose svg, #jqShowcaseClose use {
	display: block;
	width: 1rem;
	height: 1rem;
}
#jqShowcaseContentWrapper {
	z-index: 100;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	flex: 0 1 100%;
	margin: 0;
	padding: 0;
	min-height: 0;
	max-height: 0;
	width: 100%;
	text-align: center;
}
#jqShowcaseContent {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	vertical-align: top;
	text-align: left;
}
#jqShowcaseInfo {
	z-index: 101;
	box-sizing: border-box;
	position: relative;
	flex: 0 0 0;
	margin: 0;
	border-top: 1px solid var(--border-primary);
	border-radius: 0 0 0.5rem 0.5rem;
	padding: 0;
	max-height: 6rem;
	background: var(--bg-primary);
}
	#jqShowcaseInfo > p {
		margin: 0;
		padding: 0.5rem;
		font-size: 1rem;
		text-align: center;
		color: var(--text-primary);
	}

/* Nav Buttons */
#jqShowcaseLeft,
#jqShowcaseRight {
	flex: 1 1 1.9rem;
	padding: 0.5rem;
}
	#jqShowcaseLeft {
		padding-right: 0.3rem;
	}
	#jqShowcaseRight {
		padding-left: 0.3rem;
	}
	#jqShowcaseLeft > div,
	#jqShowcaseRight > div {
		width: 2rem;
		height: 2rem;
		-moz-user-select: none;
		user-select: none;
		font-size: 1.8rem;
		cursor: pointer;
	}
	#jqShowcaseLeft > div {
		padding-left: 0.1rem;
		float: right;
	}
	#jqShowcaseRight > div {
		padding-right: 0.1rem;
		text-align: left;
	}
	#jqShowcaseLeft svg,
	#jqShowcaseRight svg {
		display: block;
		width: 2rem;
		height: 2rem;
	}

/* Showcase Popups */
#jqShowcasePopup {
	position: relative;
	margin: 0 auto;
}
#jqShowcasePopup p {
	margin-top: 0;
	text-align: center;
	word-break: normal;
}
#jqShowcasePopup p:only-child {
	margin-bottom: 0;
}
#jqShowcasePopup button {
	overflow: hidden;
	display: flex;
	margin: 0 auto;
	border: 1px solid var(--border-secondary);
	border-radius: 0.3rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 2px;
	text-align: center;
	text-decoration: none;
	color: var(--text-nav);
	background: var(--bg-button);
	cursor: pointer;
	transition: all 0.4s;
}

/* Alert */
#jqShowcasePopup button:hover,
#jqShowcasePopup button:active {
	border-color: var(--border-active);
	text-decoration: none;
	color: var(--text-active);
	background: var(--bg-primary);
}
#jqShowcasePopup button svg {
	display: inline-block;
	position: relative;
	top: 0.1rem;
	padding-left: 0;
	width: 0;
	height: 1rem;
	fill: var(--text-active);
	transition: all 0.5s;
}
#jqShowcasePopup button:hover svg,
#jqShowcasePopup button:active svg {
	padding-left: 1rem;
	width: 1rem;
	opacity: 1;
}

/* Confirm */
#jqShowcasePopup #jqShowcaseButtons {
	display: flex;
	justify-content: center;
}
#jqShowcasePopup #jqShowcaseButtons button {
	margin: 0;
}
#jqShowcasePopup #jqShowcaseButtons button:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#jqShowcasePopup #jqShowcaseButtons button:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-color: var(--border-danger);
	background: var(--bg-danger);
}
#jqShowcasePopup #jqShowcaseButtons button:first-child:hover,
#jqShowcasePopup #jqShowcaseButtons button:first-child:active {
	border-right: 1px solid var(--border-active);
}
#jqShowcasePopup #jqShowcaseButtons button:last-child:hover,
#jqShowcasePopup #jqShowcaseButtons button:last-child:active {
	border-left: 1px solid var(--border-danger);
	color: var(--text-danger);
	background: var(--bg-primary);
}
#jqShowcasePopup #jqShowcaseButtons button:last-child svg {
	fill: var(--text-danger);
}

/* Prompt */
#jqShowcasePopup input,
#jqShowcasePopup textarea,
#jqShowcasePopup select {
	display: block;
	margin: 0 auto 1rem auto;
	border: 1px solid var(--border-primary);
	border-radius: 0.5rem;
	padding: 0.3rem 0.5rem;
}
