#jqShowcaseContainer {
	--active: #00cf56;
	--danger: #9b2929;
	--text-nav: #ffffff;
	--text-primary: #000000;
	--border-content: #ffffff;
	--border-primary: #727272;
	--border-secondary: #313131;
	--bg-overlay: rgba(0, 0, 0, 0.85);
	--bg-primary: #ffffff;
	--bg-primary-object: rgba(255, 255, 255, 0.5);
	--bg-button: #777777;
}
